/**
* Common Input Elements
*/

.input-container {
width: $inputContainer;
position: relative;
@include rem( margin, 2rem 0 );

// Label
>label { @include rem( padding, .5rem ); }

// Footer Elements
>.input-footer {
  @include clearfix;
  @include rem( padding, .5rem );

  >.input-info,
  >.tags-link
  { width: 45%; }
}

.input-footer > .input-info { float: left; width: 45%; }
.input-footer > .tags-link  { float: right; width: 50%; }

.input-info {
  float: left;
  font-style: italic;
}

.tags-link {
  @extend .label;
  float: right;
  text-align: right;
  font-weight: 600;
  color: $secondary-bright;
  cursor: pointer;

  @include rem( line-height, 1.6rem );
}

} // .input-container



/**
* Text Input
*/

.input-container.input-text {

input[type="text"] {
  @extend .text-medium;

  width: 100%;


  border: 0.5px solid rgba(0,0,0,0);
  border-bottom-color: $dark-layout;
  outline: none;  

  @include rem( padding, .5rem );

  &:focus { border-bottom-color: $secondary-bright; border-bottom-width: 3px; }
  @include placeholder { color: $dark-disabled; }
  @include transition( border-width .1s linear );
}
} // Text Input



/**
* Textarea
*/

.input-container.input-textarea {

textarea {
  @extend .text-medium;

  width: 100%;

  border: 0.5px solid $dark-layout;
  outline: none;

  @include rem( padding, .5rem );

  resize: none;
  
  &:focus {
    border-style: solid;

    border-color: $dark-layout;
    border-width: 0.5px;

    border-bottom-color: $secondary-bright;
    border-bottom-width: 3px;
  }

  @include placeholder { color: $dark-disabled; }
  @include transition( border-width .1s linear );
}
} // Textarea


/**
* Error State
*/

.input-container.error {
  input[type="text"],
  textarea
  { 
    color: $error;
    border-bottom-color: $error;
    @include placeholder { color: transparent; }
  }

  >label,               { color: $error; }
  >label > span > svg   { fill: $error; }
  .input-info           { color: $error; }

  .tags-link { display: none; }

  textarea { border-color: $error; }
}


/**
* Disabled
*/

.input-container.disabled {
  input[type="text"],
  textarea
  {
    border-bottom-color: $dark-layout;
    @include placeholder { color: transparent; }
  }

  >label,               { color: $dark-disabled; }
  >label > span > svg   { display: none; }

  .input-info,
  .tags-link
  { display: none; }
}


/**
* Inline Icon
*/

.input-container.input-text.with-icon {
  > i > svg { width: 16px; height: 16px; fill: black; }

  // icon before input
  > i { position: absolute; @include rem( top, 3.2rem ); @include rem( left, .5rem ); }
  > i + input[type="text"] { @include rem( padding-left, 2.4rem ); @include rem( padding-right, .5rem ); }

  // icon after input
  > input[type="text"] + i { @include rem( right, .5rem ); @include rem( left, auto ); }
  input[type="text"] { @include rem( padding-right, 2.4rem ); }
}


/**
* Dropdowns
**/

.input-conatiner.input-dropdown-basic {
}