/* ------------------------------------------------------------------------ *
 * Selector
 * ------------------------------------------------------------------------ */

ul.selector {
  @include rem( padding, 1.6rem 1.2rem );
  border: 1px solid $dark-layout;

  margin-top:     0;
  margin-bottom:  0;
}

/**
* Cycle Nav - Previous and Next
*
* HTML:
* ul.selector.cycle
*  li.previous
*  li.next
*/

ul.selector.cycle {
  @include clearfix;
  list-style: none;
  text-align: center;
  line-height: 0;

  >.link {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @include transition( all .16s ease-in-out );

    &:hover       { color: $secondary-bright; }
    &.disabled    { color: $dark-disabled !important; cursor: default; }
  }

  >.link.previous   { float: left; }
  >.link.next       { float: right; }
  >.link.this-week  { vertical-align: top; }

  >.link.previous:before    { @include inline-icon( 16px, 16px, "icons/arrow.svg", left );  @include transform( rotate(90deg) ); }
  >.link.next:after         { @include inline-icon( 16px, 16px, "icons/arrow.svg", right ); @include transform( rotate(-90deg) ); }
}



/**
* Dropdown Menu
*
* HTML:
* ul.selector.menu
*  li.menu-item
*  li.menu-item
*/

ul.selector.menu {}




/* ------------------------------------------------------------------------ *
 * Tabs
 * ------------------------------------------------------------------------ */

 /*
  *
  * HTML:
  * ul.accordion-tabs
  *   li.tab-header-and-content
  *     a.tab-link
  *     div.tab-content
 */

.accordion-tabs {
  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    display: inline;
    list-style: none;
  }

  .tab-link { display: inline-block; }

  .is-active {}

  .tab-content {
    display: none;
    float: left;
    width: 100%;
  }
}




/* ------------------------------------------------------------------------ *
 * Button Group
 * ------------------------------------------------------------------------ */

/**
*
* HTML:
* .button-group
*   label
*      input type="radio" name="button-group" value="option1" checked
*      span.button-group-item Option 1
*    label
*      input type="radio" name="button-group" value="option2"
*      span.button-group-item Option 2
*/

.button-group {
  margin-top:     0;
  margin-bottom:  0;

  input { display: none; }
  label { float: left; }

  label:first-child > .button-group-item,
  label:last-child > .button-group-item
  { @include omega; }

  .button-group-item {
    display: inline-block;
    width: auto;

    @extend .label;
    font-weight: normal;
    text-align: center;
    cursor: pointer;

    @include rem( padding, 1.6rem 1.2rem );
    border: 1px solid $dark-layout;
  }

  input:checked + .button-group-item {
    color: $light-primary;
    background: $dark-secondary;
    border-color: $dark-secondary;
  }
}