/* ------------------------------------------------------------------------ *
 * Selector
 * ------------------------------------------------------------------------ */

ul.selector {
  @include rem( padding, 1.6rem 1.2rem );
  border: 1px solid $dark-layout;

  margin-top:     0;
  margin-bottom:  0;
}

/**
* Cycle Nav - Previous and Next
*
* HTML:
* ul.selector.cycle
*  li.previous
*  li.next
*/

ul.selector.cycle {
  @include clearfix;
  list-style: none;
  text-align: center;
  line-height: 0;

  >.link {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;

    @include transition( all .16s ease-in-out );

    &:hover       { color: $secondary-bright; }
    &.disabled    { color: $dark-disabled !important; cursor: default; }
  }

  >.link.previous   { float: left; }
  >.link.next       { float: right; }
  >.link.this-week  { vertical-align: top; }

  >.link.previous:before    { @include inline-icon( 16px, 16px, "icons/arrow.svg", left );  @include transform( rotate(90deg) ); }
  >.link.next:after         { @include inline-icon( 16px, 16px, "icons/arrow.svg", right ); @include transform( rotate(-90deg) ); }
}



/**
* Dropdown Menu
*
* HTML:
* ul.selector.menu
*  li.menu-item
*  li.menu-item
*/

ul.selector.menu {}




/* ------------------------------------------------------------------------ *
 * Tabs
 * ------------------------------------------------------------------------ */

 /*
  *
  * HTML:
  * ul.accordion-tabs
  *   li.tab-header-and-content
  *     a.tab-link
  *     div.tab-content
 */

.accordion-tabs {
  @include clearfix;
  padding: 0;

  .tab-header-and-content {
    display: inline;
    list-style: none;
  }

  .tab-link { display: inline-block; }

  .is-active {}

  .tab-content {
    display: none;
    float: left;
    width: 100%;
  }
}




/* ------------------------------------------------------------------------ *
 * Button Group
 * ------------------------------------------------------------------------ */

/**
*
* HTML:
* .button-group
*   label
*      input type="radio" name="button-group" value="option1" checked
*      span.button-group-item Option 1
*    label
*      input type="radio" name="button-group" value="option2"
*      span.button-group-item Option 2
*/

.button-group {
  margin-top:     0;
  margin-bottom:  0;

  input { display: none; }
  label { float: left; }

  label:first-child > .button-group-item,
  label:last-child > .button-group-item
  { @include omega; }

  .button-group-item {
    display: inline-block;
    width: auto;

    @extend .label;
    font-weight: normal;
    text-align: center;
    cursor: pointer;

    @include rem( padding, 1.6rem 1.2rem );
    border: 1px solid $dark-layout;
  }

  input:checked + .button-group-item {
    color: $light-primary;
    background: $dark-secondary;
    border-color: $dark-secondary;
  }
}





/* ------------------------------------------------------------------------ *
 * Slats
 * ------------------------------------------------------------------------ */

/**
*
* HTML:
* .slats
*   header [optional]
*     header content
*   .slat
*     .icon-left [optional]
*     title
*     ul.secondary [optional]
*       li secondary information
*     .icon-right [optional]
*/

.slat {
  width: 100%;
  display: block;
  @extend .paragraph;
  cursor: pointer;
  border-bottom: 1px solid $dark-layout;
  margin:   0;
  padding:  1rem;

  &:nth-child(odd) { background: $dark-field; }

  >a { color: $dark-primary; padding-left: 0.5rem; }
  >a:hover { text-decoration: none; }

  span.icon-right { margin: 0.3rem; }

  &:hover { background: $dark-field; }
}

// Secondary Content
.slat > ul.secondary {
  li { @extend .text-small; color: $dark-disabled; }
}

// Header
.slats > header {
  position: relative;
  background: $dark-field;
  border-bottom: 1px solid $dark-layout;

  margin:   0;
  padding:  0.5rem 1.5rem;

  &.icon-only { padding: 1.25rem 1.5rem; }
  >h4 { margin: 0; }
  >a { @extend .label; color: $dark-primary; }

  .icon-right {
    position:   absolute;
    top:        0.5rem;
    right:      1.5rem;
  }

  .icon-left {
    position:   absolute;
    top:        0.5rem;
    left:       1.5rem;
  }
}

// Search
.slat.-search {
  background: white;
  box-shadow: 0 0 3px 0 $dark-layout-trans;

  >input {
    width: 100%;
    @extend .paragraph;
    line-height: 2.4rem;
    color: $dark-primary;
    outline: none;
    border: none;
    border-bottom:1px solid $dark-layout;
  }

  >input::placeholder { color: $dark-disabled; }
}




/* ------------------------------------------------------------------------ *
 * Select Elements
 * ------------------------------------------------------------------------ */

/**
*
* Custom Select Elements using Tether + Select
*
* HTML:
*  select
*   option Option Value 1
*   option Option Value 2
*
*/

.select-select {
  display: none;
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.select-element,
.select-element:after,
.select-element:before,
.select-element *,
.select-element *:after,
.select-element *:before
{ box-sizing: border-box; }

.select-element {
  position: absolute;
  display: none; 
  z-index: 2;
}

.select-element.select-open { display: block; }

.select-theme-default,
.select-theme-default *,
.select-theme-default *:after,
.select-theme-default *:before
{ box-sizing: border-box; }


.select.select-theme-default {
  -webkit-user-select:  none;
  -moz-user-select:     none;
  -ms-user-select:      none;
  -o-user-select:       none;
  user-select:          none;
}


/**
* Select Menu
*/

.select.select-theme-default .select-content {
  -webkit-overflow-scrolling: touch;
  background: #fff;
  font-family: inherit;
  color: inherit;
  overflow: auto;
  width: $inputContainer;
  max-height: $inputContainer;
  border-left: .5px solid $dark-layout;
  border-right: .5px solid $dark-layout;
}

.select.select-theme-default .select-options {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

.select.select-theme-default .select-options .select-option {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  @extend .slat;
}


/**
* Select Target
*/

.select-target.select-theme-default {
  @extend .text-medium;

  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  border: 0.5px solid rgba(0,0,0,0);
  border-bottom-color: $dark-layout;
  outline: none;  

  @include rem( padding, .5rem );
  @include transition( border-width .1s linear );
}

// Icon
.select-target.select-theme-default:after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><rect width='16' height='16' fill='transparent' /><path d='M8,11.25a.25.25,0,0,1-.18-.07l-6-6a.25.25,0,0,1,.35-.35L8,10.65l5.82-5.82a.25.25,0,0,1,.35.35l-6,6A.25.25,0,0,1,8,11.25Z'/></svg>");
  position: absolute;
  height: 16px;
  width: 16px;

  @include rem( bottom, .5rem );
  @include rem( right, .5rem );
}

// Focus
.select-target.select-theme-default:hover,
.select-target.select-theme-default.select-target-focused,
.select-target.select-theme-default.select-target-focused:focus
{ border-bottom-color: $dark-disabled; }
