/**
* REM with Pixel Fallback
*/

@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}


/**
* Vertical Align
*/

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform:          translateY(-50%);
  -webkit-transform:  translateY(-50%);
}



/**
* Inline Icon
*/

@mixin inline-icon( $width, $height, $url, $pos ) {
  content: "";
  display: inline-block;
  float: $pos;

  width:    $width;
  height:   $width;

  background: url( image_path( $url ) ) center no-repeat;

  margin: 0;

  @if ( $pos == null ) { float: left; margin-right: 4px; }
  @else if ( $pos == 'right' ) { margin-left: 4px; }
  @else if ( $pos == 'left' )  { margin-right: 4px; }
}



/**
* Single Line Text w/ Ellipsis
*/

@mixin single-line-text() {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/**
* Fade In
*/

@include keyframes( fade-in ) {
  0%      { opacity: 0; }
  100%    { opacity: 1; }
}

/**
* Text overflow
*/
@mixin text-overflow($font-size: 12px, $line-height: 1.6, $lines-to-show: 3, $max-width: 400px) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: $max-width;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


/**
* Media Queries
*/


@mixin bp($point) {
  @if ($MQs) {
    $bp-small:  "(max-width: 600px)";
    $bp-medium: "(max-width: 1250px)";
    $bp-large:  "(max-width: 1600px)";
  
    @if $point == small {
      @media #{$bp-small} { @content; }
    }
    @else if $point == medium {
      @media #{$bp-medium} { @content; }
    }
    @else if $point == large {
      @media #{$bp-large}  { @content; }
    }
  }
}