<section id="basic-form-elements">
  <h3>Inputs</h3>
  <div id="input-1" class="input-container input-text">
    <label for="input-1">
      Input Label
      <span class="icon-container"><%= partial "images/svg/icon_required.svg" %></span>
    </label>
    <input type="text" id="input-1" name="input-1" placeholder="Placeholder" />
    <div class="input-footer">
      <span class="input-info text-small"></span>
      <span class="tags-link">Tags &amp; Content</span>
    </div>
  </div>

  <div id="input-2" class="input-container input-textarea">
    <label for="input-1">
      Input Label
      <span class="icon-container"><%= partial "images/svg/icon_required.svg" %></span>
    </label>
    <textarea id="input-2" name="input-2" rows="4" placeholder="Enter your message here"></textarea>
    <div class="input-footer">
      <span class="input-info text-small"></span>
      <span class="tags-link">Tags &amp; Content</span>
    </div>
  </div>
</section>