<section id="buttons">
  <h3>Buttons</h3>
  <button class="btn-primary">Button</button>
  <button class="btn-primary medium">Button</button>
  <button class="btn-primary large">Button</button>
  <button class="btn-primary large" disabled>Button</button>
  <button class="btn-secondary">Button</button>
  <button class="btn-secondary medium">Button</button>
  <button class="btn-secondary large">Button</button>
  <button class="btn-secondary large" disabled>Button</button>
  <button>Button</button>
  <button class="medium">Button</button>
  <button class="large">Button</button>
  <button class="large" disabled>Button</button>
</section>
