<section id="dropdowns">
  <h2>Dropdowns</h2>

  <h3>Basic Dropdown</h3>
  <p>The default, closed dropdown contains an arrow icon. Clicking anywhere within the field activates the menu.</p>

  <div class="separator">
    <div id="select-1" class="input-container input-select with-icon">
      <label for="select-1">
        Value Modifier
        <span class="icon-container"><%= partial "images/svg/icon_required.svg" %></span>
      </label>
      <select class="select-target" style="width:100%;">
        <optgroup label="By Calendar Date">
          <option>on Jan. 6, 2014</option>
          <option>after Jan. 6, 2014</option>
          <option>before Jan. 6, 2014</option>
          <option>between Jan. 1-31, 2014</option>
        </optgroup>
        <optgroup label="By Anniversary">
          <option>on Jan. 6</option>
          <option>between Jan. 1-31</option>
          <option>in month January</option>
        </optgroup>
      </select>
    </div>
  </div>
 <span class="caption">basic dropdown</span> 
</section>