<section id="dropdowns">
  <h2>Dropdowns</h2>

  <h3>Basic Dropdown</h3>
  <p>The default, closed dropdown contains an arrow icon. Clicking anywhere within the field activates the menu.</p>

  <div class="separator">
    <div id="select-1" class="input-container input-select with-icon">
      <label for="select-1">
        Value Modifier
        <span class="icon-container"><%= partial "images/svg/icon_required.svg" %></span>
      </label>
      <select class="select-target">
        <option>Exactly matches</option>
        <option>Starts with</option>
        <option>Ends with</option>
      </select>
    </div>
  </div>
 <span class="caption">basic dropdown</span> 
</section>