<section id="colors">
  <h2>Colors</h2>

  <h3>Greyscale (Light Backgrounds)</h3>
  <p>There are two sets of greyscale palettes for use on dark or light backgrounds.</p>
  <%= partial('partials/pages/building_blocks/swatches', locals: { id: "greyscale_light" }) %>

  <h3>Greyscale (Dark Backgrounds)</h3>
  <p>There are two sets of greyscale palettes for use on dark or light backgrounds.</p>
  <%= partial('partials/pages/building_blocks/swatches', locals: { id: "greyscale_dark" }) %>

  <h3>Status Colors</h3>
  <p>These colors are used in alerts and inline messaging for status indicators, such as warnings, statuses, or additional infomation.</p>
  <%= partial('partials/pages/building_blocks/swatches', locals: { id: "status_colors" }) %>

  <h3>UI Colors</h3>
  <p>This array of colors can be used for categorization, grouping, and other tertiary functions. These colors should be applied sparingly.</p>
  <%= partial('partials/pages/building_blocks/swatches', locals: { id: "ui_colors" }) %>
</section>