<section id="colors">
  <h2>Colors</h2>

  <h3>Greyscale (Light Backgrounds)</h3>
  <p>There are two sets of greyscale palettes for use on dark or light backgrounds.</p>
  <div class="boxes">
    <div class="box two-up">
      <span class="swatch"></span>
      <span class="caption">
        #f7f7f7
        &#9671;
        rgba(0,0,0,.1)
      </span>
    </div>
    <div class="box two-up">
      <span class="swatch"></span>
      <span class="caption">
      </span>
    </div>
  </div>
</section>