<section id="#typography">
  <h2>Typography</h2>

  <h3>Fonts</h3>
  <p>The platform’s primary fonts are Open Sans and Roboto. Open Sans is used for most of the UI elements, while Roboto is used for numbers and stats.</p>

  <div class="box">
    A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
    <br />
    a b c d e f g h i j k l m n o p q r s t u v w x y z
  </div>
  <span class="caption">Open Sans</span>

  <div class="box">
    0 1 2 3 4 5 6 7 8 9 0
  </div>
  <span class="caption">Roboto</span>


  <h3>Headers</h3>
  <p>Vibes has 3 header styles.</p>

  <div class="box">
    <h2>75% Off Sale</h2>
  </div>
  <span class="caption">h2 &#9671; Open Sans Light &#9671; 3.2rem</span>

  <div class="box">
    <h3>Message Stats</h3>
  </div>
  <span class="caption">h3 &#9671; Open Sans Regular &#9671; 1.6rem</span>

  <div class="box">
    <h4>Mobile Wallet Installs</h4>
  </div>
  <span class="caption">h4 &#9671; Open Sans Bold &#9671; 1.2rem</span>


  <h3>Labels</h3>
  <p>There are two label sizes, which can be achieved by adding either <span class="inline code">.label</span> or <span class="inline code">.label-medium</span> classes to a text element. Labels are typically uppercase.</p>

  <div class="box">
    <span class="label">Total Clicks</span>
  </div>
  <span class="caption">label &#9671; Open Sans Regular &#9671; 1rem</span>

  <div class="box">
    <span class="label-medium">Message Count</span>
  </div>
  <span class="caption">medium label &#9671; Open Sans Semibold &#9671; 1.4rem</span>


  <h3>Text Styles</h3>
  <p>Small, paragraph, and medium text sizes are available for use as helper text, explanation, and other miscellaneous copy needs. Medium is the default copy size.</p>

  <div class="box">
    <span class="text-small">Triggered Message Send</span>
  </div>
  <span class="caption">small text &#9671; Open Sans Regular &#9671; 1rem</span>

  <div class="box">
    <p>To win, you need a platform and partner you can trust to help you get ahead – and stay ahead – in mobile marketing. Tap our team of experts to help you navigate mobile using the best technology platform in the industry. We can help you perfect your mobile strategy, launch custom mobile experiences, execute winning campaigns and more.</p>
  </div>
  <span class="caption">paragraph &#9671; Open Sans Regular &#9671; 1.4rem</span>

  <div class="box">
    <span class="text-medium">Subscriber Growth</span>
  </div>
  <span class="caption">medium text &#9671; Open Sans Semibold &#9671; 1.4rem</span>


  <h3>Number Styles</h3>
  <p>Analytics and data are immensely important components of the platform. There is a robust set of styles for representing numeric data on the Vibes platform.</p>

  <div class="box">
    <span class="number-small">
      1 2 3 4 5 6 7 8 9 0
    </span>
  </div>
  <span class="caption">small number &#9671; Roboto Regular &#9671; 1.2rem</span>

  <div class="box">
    <span class="number-medium">
      1 2 3 4 5 6 7 8 9 0
    </span>
  </div>
  <span class="caption">medium number &#9671; Roboto Light &#9671; 2rem</span>

  <div class="box">
    <span class="number-large">
      1 2 3 4 5 6 7 8 9 0
    </span>
  </div>
  <span class="caption">large number &#9671; Roboto Bold &#9671; 2.4rem</span>

  <div class="box">
    <span class="number-hero">
      1 2 3 4 5 6 7 8 9 0
    </span>
  </div>
  <span class="caption">hero number &#9671; Roboto Light &#9671; 3.6rem</span>

  <div class="box">
    <span class="number-calendar">
      1 2 3 4 5 6 7 8 9 0
    </span>
  </div>
  <span class="caption">calendar number &#9671; Roboto Bold &#9671; 1.6rem</span>
