---
id: 4
title: "Components"
heading_1: "Components"
heading_2: "List"
sections:
  - buttons
  - basic_form_elements
  - dropdowns
---

<div id="<%= current_page.data.title.parameterize({separator: '_' }) %>" class="page">
  <%= partial('partials/header',  locals: { page: current_page }) %>
  <%= partial('partials/content', locals: { page: current_page }) %>
</div>