---
id: 2
title: "Foundations"
heading_1: "Base"
heading_2: "Foundations"
sections:
---

<div id="<%= current_page.data.title.parameterize({separator: '_' }) %>" class="page">
  <%= partial('partials/header',  locals: { page: current_page }) %>
  <%= partial('partials/content', locals: { page: current_page }) %>
</div>