---
id: 1
title: "Introduction"
heading_1: "Platform"
heading_2: "Styleguide"
sections:
  - introduction
---

<div id="<%= current_page.data.title.parameterize({separator: '_' }) %>" class="page">
  <%= partial('partials/header',  locals: { page: current_page }) %>
  <%= partial('partials/content', locals: { page: current_page }) %>
</div>